[defaults]
host_key_checking = False
timeout = 30

[ssh_connection]
ssh_args = -o CertificateFile=/tmp/aap_ssh_key-cert.pub -i /tmp/aap_ssh_key -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
retries = 3
